matplotlib==3.10.6
nltk==3.9.1
joblib==1.5.2
Flask==3.1.2
pandas==2.3.2
numpy==2.3.3

boto3==1.40.18
lightgbm==4.6.0
mlflow==3.4.0
mlflow_skinny==3.4.0
mlflow_tracing==3.4.0
python-dotenv==1.1.1
wordcloud==1.9.4
psutil==7.1.0
defusedxml==0.7.1
gunicorn
uvicorn
requests
dotenv